# Analyzing KickStarter Projects

For this project we will take on the role of a Data Analyst at a startup. The product team is considering launching a campain on kickstarter tp test the viability of some offerings. We have been asked to pull data that will help them understand what might influence the success of the campaign. 

Specifically, we will answer the following questions:
 1. What types of projects are most likely to be successful?
 2. Which projects fail?
 
The first step to working with a database is to know what data is actually in it. However, before we start exploring our dataset, let us connect our notebook to the **database**.

In [1]:
# Load an SQL extention
%load_ext sql

In [2]:
# Coonect to Postgresql Database
%sql postgresql://postgres:0227@localhost:5432/kick_starter

Connecting to 'postgresql://postgres:***@localhost:5432/kick_starter'

Now that we have developed a connection to the database, we will go ahead and explore our dataset. We will begin by displaying the column names and their data types.

In [6]:
%%sql 

    SELECT column_name, data_type
      FROM information_schema.columns
    WHERE table_schema = 'public' AND table_name = 'project_ks';

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

8 rows affected.

+---------------+-------------------+
|  column_name  |     data_type     |
+---------------+-------------------+
|       id      |      integer      |
|      name     | character varying |
|    category   | character varying |
| main_category | character varying |
|      goal     |      numeric      |
|    pledged    |      numeric      |
|     state     | character varying |
|    backers    |      integer      |
+---------------+-------------------+

We will then display the number of records in our table.

In [8]:
%%sql

    SELECT COUNT (*) AS Number_of_Records
      FROM project_ks;

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

1 rows affected.

+-------------------+
| number_of_records |
+-------------------+
|       323121      |
+-------------------+

Our dataset has got **323,121** records

We will now pull the relevant columns from the `project_ks` table that will allow us to assess a project's results based on its **main_category**, amount of money set as a **goal**, number of **backers**, and amount of money **pledged**. We will display the first 10 records only.

In [10]:
%%sql
# Select the columns to use for the project
    SELECT main_category, goal, backers, pledged
      FROM project_ks
     LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

10 rows affected.

+---------------+--------+---------+----------+
| main_category |  goal  | backers | pledged  |
+---------------+--------+---------+----------+
|   Publishing  |  1000  |    0    |   0.00   |
|  Film & Video | 45000  |    3    |  220.00  |
|     Music     |  5000  |    1    |   1.00   |
|  Film & Video | 19500  |    14   | 1283.00  |
|      Food     | 50000  |   224   | 52375.00 |
|      Food     |  1000  |    16   | 1205.00  |
|      Food     | 25000  |    40   |  453.00  |
|     Design    | 125000 |    58   | 8233.00  |
|  Film & Video | 65000  |    43   | 6240.57  |
|   Publishing  |  2500  |    0    |   0.00   |
+---------------+--------+---------+----------+
Truncated to displaylimit of 10.

Now that we have selected the relevant columns, we will filter the data to include only those in certain categories. We will keep the records where project **state** is either `failed`, `cancelled` or `suspended`.

In [11]:
%%sql
# Filter data
    SELECT main_category, goal, backers, pledged
      FROM project_ks
     WHERE state IN ('failed', 'canceled', 'suspended')
     LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

10 rows affected.

+---------------+--------+---------+---------+
| main_category |  goal  | backers | pledged |
+---------------+--------+---------+---------+
|   Publishing  |  1000  |    0    |   0.00  |
|  Film & Video | 45000  |    3    |  220.00 |
|     Music     |  5000  |    1    |   1.00  |
|  Film & Video | 19500  |    14   | 1283.00 |
|      Food     | 25000  |    40   |  453.00 |
|     Design    | 125000 |    58   | 8233.00 |
|  Film & Video | 65000  |    43   | 6240.57 |
|   Publishing  |  2500  |    0    |   0.00  |
|     Crafts    |  5000  |    0    |   0.00  |
|     Games     | 200000 |    0    |   0.00  |
+---------------+--------+---------+---------+
Truncated to displaylimit of 10.

For our analysis, we'll only want to look at projects of a certain size. This is because there are a lot of small projects in the database that aren't relevant to our analysis. Now that we've filtered our records to meet certain categories, let's also filter them to meet given quantities, too. 

We will now filter our data to have a dataset withprojects that had at least **100** backers and **$20,000** pledged.

In [14]:
%%sql
# Filtering our dataset
    SELECT main_category, goal, backers, pledged
      FROM project_ks
     WHERE state IN ('failed', 'canceled', 'suspended') AND backers >= 100 AND pledged >= 20000
     LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

10 rows affected.

+---------------+--------+---------+-----------+
| main_category |  goal  | backers |  pledged  |
+---------------+--------+---------+-----------+
|   Technology  | 250000 |   120   |  90771.00 |
|     Design    | 25000  |   647   |  39693.00 |
|      Art      | 100000 |   257   |  50230.00 |
|  Film & Video | 150000 |   135   |  23098.00 |
|  Film & Video | 50000  |   189   |  20677.00 |
|  Film & Video | 100000 |   118   |  25877.00 |
|   Technology  | 60000  |   108   |  45687.01 |
|   Technology  | 50000  |   209   |  33916.00 |
|   Technology  | 96485  |   310   |  85017.00 |
|     Games     | 210000 |   1157  | 120725.76 |
+---------------+--------+---------+-----------+
Truncated to displaylimit of 10.

In addition to selecting the relevant columns and filtering the relevant rows, sorting our results can be quite valuable in making sense of the data. In this case, the product team would like to view projects by categories, along with the percentage of the goal that was funded.

In [16]:
%%sql
# Orderimg our results by main_category and pct_pledged
    SELECT main_category, backers, pledged, goal, pledged/goal AS pct_pledged
      FROM project_ks
     WHERE state IN ('failed') AND backers >= 100 AND pledged >= 20000
     ORDER BY main_category, pct_pledged DESC
     LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

10 rows affected.

+---------------+---------+----------+--------+------------------------+
| main_category | backers | pledged  |  goal  |      pct_pledged       |
+---------------+---------+----------+--------+------------------------+
|      Art      |   294   | 52565.25 | 60000  | 0.87608750000000000000 |
|      Art      |   172   | 21310.00 | 25000  | 0.85240000000000000000 |
|      Art      |   185   | 27630.24 | 35000  | 0.78943542857142857143 |
|      Art      |   552   | 37621.97 | 50000  | 0.75243940000000000000 |
|      Art      |   336   | 33485.00 | 52000  | 0.64394230769230769231 |
|      Art      |   130   | 20374.99 | 35000  | 0.58214257142857142857 |
|      Art      |   133   | 54387.00 | 100000 | 0.54387000000000000000 |
|      Art      |   136   | 39206.49 | 77777  | 0.50408848374198027695 |
|      Art      |   257   | 50230.00 | 100000 | 0.50230000000000000000 |
|      Art      |   115   | 27413.00 | 80000  | 0.34266250000000000000 |
+---------------+---------+----------+--------+------------------------+
Truncated to displaylimit of 10.

It can often be helpful to make sense of a set of records by grouping them into categories based on some condition, which in SQL can be done with CASE statements.

While it's interesting to view the results of failed projects by metrics like the number of backers, what really makes or breaks a Kickstarter project is whether it meets its pledge goal.

In [17]:
%%sql

    SELECT main_category, backers, pledged, goal,
         pledged / goal AS pct_pledged, 
         CASE
            WHEN pledged/goal >= 1 THEN 'Fully funded'
            WHEN pledged/goal >= 0.75 AND pledged / goal < 1 THEN 'Nearly funded'
            ELSE 'Not nearly funded'
            END AS funding_status
    FROM project_ks
   WHERE state IN ('failed')
     AND backers >= 100 AND pledged >= 20000
    ORDER BY main_category, pct_pledged DESC
   LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/kick_starter'

10 rows affected.

+---------------+---------+----------+--------+------------------------+-------------------+
| main_category | backers | pledged  |  goal  |      pct_pledged       |   funding_status  |
+---------------+---------+----------+--------+------------------------+-------------------+
|      Art      |   294   | 52565.25 | 60000  | 0.87608750000000000000 |   Nearly funded   |
|      Art      |   172   | 21310.00 | 25000  | 0.85240000000000000000 |   Nearly funded   |
|      Art      |   185   | 27630.24 | 35000  | 0.78943542857142857143 |   Nearly funded   |
|      Art      |   552   | 37621.97 | 50000  | 0.75243940000000000000 |   Nearly funded   |
|      Art      |   336   | 33485.00 | 52000  | 0.64394230769230769231 | Not nearly funded |
|      Art      |   130   | 20374.99 | 35000  | 0.58214257142857142857 | Not nearly funded |
|      Art      |   133   | 54387.00 | 100000 | 0.54387000000000000000 | Not nearly funded |
|      Art      |   136   | 39206.49 | 77777  | 0.50408848374198027695 | Not nearly funded |
|      Art      |   257   | 50230.00 | 100000 | 0.50230000000000000000 | Not nearly funded |
|      Art      |   115   | 27413.00 | 80000  | 0.34266250000000000000 | Not nearly funded |
+---------------+---------+----------+--------+------------------------+-------------------+
Truncated to displaylimit of 10.

## Results
1. Projects that are well funded are most likely to be successfull.
2. Projects that are Nearly Funded and Not Nearly funded do fail.